html {
    font-size: 10px;
}

body {
   font-family: GothamPro, Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background: linear-gradient(to bottom, #b1b1b1 0,  #b1b1b1 4.8rem, #fff 4.8rem, #fff 9.5rem);
    color: #fff;
    font-size: 1.4rem;
    width: 100%;
}

.block-wrapper {
    margin: 0 auto;
    padding: 0 5%;
    max-width: 1170px;
}
.header__top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 4.8rem;
}

.header__city,
.email {
    cursor: pointer;
}

.header__top-righ {
    display: flex;
    align-items: center;
}

.social__link {
    text-decoration: none;
    margin-left: 4rem;
}

.social__item:hover {
    transform: rotateY(360deg) scale(1.5);
    transition: 1s;
}

.social__item--vk::after {
    content: url(../img/icon/vk.svg);
}

.social__item--fb::after {
    content: url(../img/icon/faceboook.svg);
}

.social__item--od::after {
    content: url(../img/icon/odnoklasniki.svg);
}

.social__item--inst::after {
    content: url(../img/icon/instagram.svg);
}

.header__bottom {
    align-items: center;
    display: flex;
    height: 9.5rem;
    justify-content: space-between;
}

.logo {
    
    cursor: pointer;
    width:21rem;
}

.header__logo {
    transform: translateX(-3%);
}

.menu {
    display: flex;
    align-items: center;
}

.menu__item {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 2.6rem;
    height: 100%;
    line-height: 8rem;
}

.menu__item:nth-child(3) {
    margin-right: 0;
}

.menu__item-subline {
    position: absolute;
    background: #f7087a;
    width: 9rem;;
    height: .5rem;
}

.button {
    background: #f7087a;
    border: none;
    border-radius: 1rem;
    color: #fff;
    margin: 0 1.5rem;
    text-transform: uppercase;
    height: 4.5rem;
    width: 17.5rem;
}

.phones {
    display: flex;
    justify-content: space-between;
}

.phones__call {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    margin-left: 2.5rem;

}

.phones__row {
    color: #b1b1b1;
    font-size: 1.2rem;
}

.phones__number {
    color: #f7087a;
    font-size: 1.8rem;

}

.header__bascket {
    margin-right: 3rem;
}

@media (max-width: 1280px) {
    html{
        font-size: 8px;
    } 

    .social__link {
        margin-left: 3rem;
    }

    .header__bascket {
        margin-right: 1rem;
    }
}


@media (max-width: 1024px) {
    .social__link {
        margin-left: 2rem;
    }
}

@media (max-width: 850px) {
    .menu,
    .phones__row,
    .phones__number {
        display: none;
    }

    
}

@media (max-width: 600px) {
    .logo {
        width: 16rem;
    }
    
    .header__social {
        position: absolute;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .button {
        margin: 0 1rem;
        width: 10rem;
    }
}

@media (max-width: 470px) {
    .button {
        font-size: 1.3rem;
        height: 3rem;
    }
}