html {
    font-size: 10px;
}

body {
   font-family: GothamPro, Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background: linear-gradient(to bottom, #b1b1b1 0,  #b1b1b1 4.8rem, #fff 4.8rem, #fff 9.5rem);
    color: #fff;
    font-size: 1.4rem;
    width: 100%;
}

.block-wrapper {
    margin: 0 auto;
    max-width: 1170px;
}
.header__top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 4.8rem;
}

.header__top-righ {
    display: flex;
}
.social__item {
    margin-left: 4rem;
}

.social__item--vk::after {
    content: url(../img/icon/vk.svg);
}

.social__item--fb::after {
    content: url(../img/icon/faceboook.svg);
}

.social__item--od::after {
    content: url(../img/icon/odnoklasniki.svg);
}

.social__item--inst::after {
    content: url(../img/icon/instagram.svg);
}

.header__bottom {
    align-items: center;
    display: flex;
    height: 9.5rem;
    justify-content: space-between;
}

.logo {
    transform: translateX(-3%);
}

.menu {
    display: flex;
    align-items: center;
}

.menu__item {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 2.6rem;
    height: 100%;
    line-height: 8rem;
}

.menu__item:hover {
    border-bottom: .5rem solid #f7087a;
    transform: translateY(.2rem);
    transition: .1s;
}

.menu__item:nth-child(3) {
    margin-right: 0;
}

.button {
    background: #f7087a;
    border: none;
    border-radius: 1rem;
    color: #fff;
    text-transform: uppercase;
    height: 4.5rem;
    width: 17.5rem;
}

.phones {
    display: flex;
    justify-content: space-between;
}

.phones__call {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    margin-left: 2.5rem;

}

.phones__row {
    color: #b1b1b1;
    font-size: 1.2rem;
}

.phones__number {
    color: #f7087a;
    font-size: 1.8rem;

}

.header__bascket {
    margin-right: 3rem;
}
