.section-ofer {
  background: url("../img/para.jpg") no-repeat;
  width: 100%;
}

.section-ofer__block-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70rem;
}

.ofer {
  height: 50rem;
  position: relative;
  width: 77rem;
}

.ofer__block {
  background:  rgba(255, 255, 255, .8);
  border: 1px solid  #b1b1b1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
  height: 24.9rem;
  padding-left: 9rem;
  width: 29.37rem;
  text-align: left;
}

.ofer__block:nth-child(1) {
  border-left: none;
  border-top: none;
}


.ofer__block:nth-child(3) {
  border-left: none;
  border-bottom: none;
}

.ofer__block:nth-child(2) {
  border-right: none;
  border-top: none;
}

.ofer__block:nth-child(4) {
  border-right: none;
  border-bottom: none;
}

.ofer__block::before {
  position: absolute;
}

.ofer__block:nth-child(1)::before {
  content: url(../img/icon/kvad.png);
  left: 3rem;
  top: 6rem;
}

.ofer__block:nth-child(2)::before {
  content: url(../img/icon/auto.png);
  left: 41rem;
  top: 6rem;

}

.ofer__block:nth-child(3)::before {
  content: url(../img/icon/valik.png);
  left: 3rem;
  top: 31rem;
}

.ofer__block:nth-child(4)::before {
  content: url(../img/icon/hand.png);
  left: 41rem;
  top: 31rem;
}


.ofer__title {
  color: #003351;
  font-size: 1.8rem;
  font-weight: bold;
}

.ofer__text {
  font-size: 1.4rem;
  width: 90%;
  line-height: 1.5;
}

@media (max-width: 850px) {
  .section-ofer{
    background-position-x: 20%;
    height: 83rem;
  }
}

@media (max-width: 740px) {
.section-ofer__block-wrapper {
  height: auto;
  padding-top: 5rem;
}

  .ofer {
    width: auto;
  }

  .ofer__block {
    justify-content: flex-end;
    height: 18rem;
    float: none;
    padding: 0 2rem;
  }


  .ofer__block:nth-child(1)::before {
    left: 14rem;
    top: 2rem;
  }

  .ofer__block:nth-child(2)::before {
    left: 14rem;    
    top: 20rem;
  }

  .ofer__block:nth-child(3)::before {
    left: 14rem;
    top: 38rem;
  }
  
  .ofer__block:nth-child(4)::before {
    left: 14rem;
    top: 56rem;
  }

  .ofer__text{
    line-height: 1.2;
  }
}